In [ ]:
put_int_day = 230427
put_float = 3.14
put_str_school = "DaSchool-1"
put_str_subject = "Python-기초"

In [ ]:
print("정수 : %i, 실수 : %f, 문자열 : %s, 문자열 : %s" % (put_int_day, put_float, put_str_school, put_str_subject))

print("정수 : {}, 실수 : {}, 문자열 : {}, 문자열 : {}".format(put_int_day, put_float, put_str_school, put_str_subject))

print(f"정수 : {put_int_day}, 실수 : {put_float}, 문자열 : {put_str_school}, 문자열 : {put_str_subject}")

정수 : 230427, 실수 : 3.140000, 문자열 : DaSchool-1, 문자열 : Python-기초
정수 : 230427, 실수 : 3.14, 문자열 : DaSchool-1, 문자열 : Python-기초
정수 : 230427, 실수 : 3.14, 문자열 : DaSchool-1, 문자열 : Python-기초

정렬 연습을 해보겠습니다.

In [ ]:
print("정수 : %20i" % put_int_day) # 20자리를 비운 후 오른쪽 정렬

print("실수 : %20.2f" % put_float) # 20자리를 비운 후 소수점 2째 자리까지 오른쪽 정렬

print("문자열 : %20s" % put_str_school) # 20자리를 비운 후 오른쪽 정렬

정수 :               230427
실수 :                 3.14
문자열 :           DaSchool-1

In [ ]:
print("정수 : {1}, 실수 : {0}".format(put_float, put_int_day)) # 순서 지정 가능

print('\n')
print("정수 : {:20}".format(put_int_day)) # 20자리를 비운 후 오른쪽 정렬

print("정수 : {:<20}".format(put_int_day)) # 20자리를 비운 후 왼쪽 정렬
               
print('\n')
print("정수 : {:*<20}".format(put_int_day)) # 왼쪽 정렬 후 나머지 자리를 *로 채움

print("정수 : {:ㅑ>20}".format(put_int_day)) # 오른쪽 정렬 후 나머지 자리를 ㅑ로 채움

print("정수 : {:-^20}".format(put_int_day)) # 가운데 정렬 후 나머지 자리를 -로 채움


print('\n')
print("실수 : {:20.2}".format(put_float)) # 20자리를 비운 후 숫자 2 개 오른쪽 정렬

print("실수 : {:20.2f}".format(put_float)) # 20자리를 비운 후 소수점 2째 자리까지 오른쪽 정렬

print("문자열 : {:20s}".format(put_str_subject)) # 20자리를 비운 후 왼쪽 정렬

정수 : 230427, 실수 : 3.14


정수 :               230427
정수 : 230427


정수 : 230427**************
정수 : ㅑㅑㅑㅑㅑㅑㅑㅑㅑㅑㅑㅑㅑㅑ230427
정수 : -------230427-------


실수 :                  3.1
실수 :                 3.14
문자열 : Python-기초

In [ ]:
print(f"정수 : {put_int_day}, 실수 : {put_float}, 문자열 : {put_str_school}, 문자열 : {put_str_subject}")


print(f"정수 : {put_int_day:20}") # 20자리를 비운 후 오른쪽 정렬

정수 : 230427, 실수 : 3.14, 문자열 : DaSchool-1, 문자열 : Python-기초
정수 :               230427